*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overscroll-behavior: none;
}


/*Antd overrides*/

.ant-menu-item svg {
    width: 20px;
    stroke-width: 0.1rem;
}

.ant-form-item-label {
    overflow: visible !important;
    text-wrap: pretty !important;
}
